<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSemana2="1975787779">
    <link th:href="@{/public/favicon.ico}" rel= "icon" type="image/x-icon" /> 
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Spring de listar pessoas</title>
</head>
<body>	

	<ul>
	<table>
		<tr>
		<th><li><a href="/" class="active">   Início </a></li></th>		
		</tr>
	<tr>
		<th><li><a href="/public/noticias.html" >  Canais de Notícias  </a></li></th>
	</tr>
	<tr>
		<th><li><a href="/addPessoas">   Adcionar pessoa </a></li>	
			<li><a href="/listarPessoas">   Listar pessoas </a></li></th>		
			</tr>
	<tr>
		<th><li><a href="/public/contato.html">Nos mande um E-Mail</a></li>
<li><a href="/public/sobre.html">Sobre o site</a></li></th>
		</tr>
	
		</table>
	</ul>
	  <div style="margin-left:25%;padding:1px 16px;height:1000px;">
		<h1>Hidrate-se!</h1>
		<p><img th:src="@{/images/agua.jpg}" class="img-responsive" alt="Um copo de água com gelo" title="Água gelada!"</p>
	 </div>
	  
	  </body>
</html>